a{
    color: azure;
    text-decoration: none;
}

a:visited{
    color: azure;
    text-decoration: none;
}

a:hover{
    color: azure;
    text-decoration: none;
}

button{
    background-color: #008cff;
}