<div class="text-center m-5">
    <h1>
        <p>
            Bienvenido al componente HOME
        </p>
    </h1>
</div>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Relleno de pagina :p</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae omnis nobis neque eius reiciendis cupiditate consequatur labore. Odio quos ratione libero pariatur! Corporis labore esse eius consequatur? Quas, deserunt nisi.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3"> <a href="https://app.slack.com/client/T03V5L6MPST/C04038C71JR"> Slack PWA</a> </button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4"> <a href="https://drive.google.com/drive/u/0/folders/1oI6Cvbzp3xaB0augNZmTxKA5ABGP-lNd"> Drive PWA</a> </button>
            </div>
    </div>
</div>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Mas relleno pq me molesta el footer a mitad de la pantalla </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae omnis nobis neque eius reiciendis cupiditate consequatur labore. Odio quos ratione libero pariatur! Corporis labore esse eius consequatur? Quas, deserunt nisi.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3"> <a href="https://docs.google.com/spreadsheets/d/1PvoggrNjwmzvP7CydZOlPXmcH_Rm7U16Ck6yrl2e9Cc/edit?usp=drive_web&ouid=116239440270087914220R"> Clases PWA</a> </button>
        </div>
    </div>
</div>
